<table border="1">
    <thead>
        <tr>
            <th>Image</th>
            <th>EAN</th>
            <th>Name</th>
            <th>Dept</th>
            <th>Stock</th>
            <th>Sold Today</th>
            <th>Add Delivery</th>
        </tr>
    </thead>
    <tbody>
        {% for product in products %}
            <tr>
                <td>
                    {% if product.image %}
                        <img src="{{ product.image.url }}" alt="{{ product.name }}" style="width: 50px; height: auto;">
                    {% else %}
                        No Image
                    {% endif %}
                </td>
                <td>{{ product.EAN }}</td>
                <td>{{ product.name }}</td>
                <td>{{ product.dept }}</td>
                <td>{{ product.available_qty }}</td>
                <td>{{ product.sold_today }}</td>
                <td><input type="text" class="deliv-input"></input></td>
            </tr>
        {% endfor %}
    </tbody>
</table>
