<!DOCTYPE html>
<html lang="en-GB">
  <head>
  {% load static %}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      {% block title %}
        Billy Store POS System
      {% endblock %}
    </title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'styles/home_global.css' %}?v=1"/>
    {% block additional_css %} {% endblock %}
  </head>
  <body>
    <nav class="navbar-main">
      <div class="nav-div">
        <div class="logo">
          <a href="#">CharStore</a>
        </div>
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">Checkout App</a></li>
          <li><a href="#">Inventory Management</a></li>
          <li><a href="#">Backoffice</a></li>
          <li><a href="#">Contact</a></li>
          <button id="enter-login-button"><a href="#">Supervisor Login</a></button>
        </ul>
      </div>
    </nav>
    <div class="container">{% block content %} {% endblock %}</div>
  </body>
</html>