<!DOCTYPE html>
<html lang="en-GB">
  <head>
  {% load static %}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      {% block title %}
        Billy Store POS System
      {% endblock %}
    </title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'styles/home_global.css' %}?v=1"/>
    {% block additional_css %} {% endblock %}
  </head>
  <body>
    <div class="main-content">
      <nav class="navbar-main">
        <div class="nav-div">
          <div class="logo">
            <a href="{% url 'home' %}">CharStore</a>
          </div>
          <ul>
            <li><a class="home-link" href="{% url 'home' %}">Home</a></li>
            <li><a class="cc-link" href="{% url 'customer_checkout' %}">Checkout App</a></li>
            <li><a class="inv-link" href="{% url 'inventory_management' %}">Inventory Management</a></li>
            <li><a class="cbo-link" href="{% url 'backoffice' %}">Backoffice</a></li>
            <li><a class="contact-link" href="#">Contact</a></li>
            <button id="enter-login-button">Supervisor Login</button>
          </ul>
        </div>
      </nav>
      <div class="container">{% block content %} {% endblock %}</div>
    </div>
    <footer class="main-footer">
      <div class="footer-icons">
          <a href="https://gitlab.com/B-McKen" target="_blank">
              <img src="{% static 'images/gitlab-logo-text.png' %}" alt="GitLab" class="icon">
          </a>
          <a href="https://github.com/B-McKen" target="_blank">
            <img src="{% static 'images/github-logo.png' %}" alt="GitHub" class="icon">
          </a>
          <a href="https://www.linkedin.com/in/billy-mcken/" target="_blank">
              <img src="{% static 'images/LI-Logo.png' %}" alt="LinkedIn" class="icon">
          </a>
      </div>
      <p class="footer-text">
          Built using Django. <br>
          Want to collaborate? <a href="mailto:billymcken19@outlook.com">Shoot me an email!</a>
      </p>
    </footer>
  </body>
</html>