{% extends "base.html" %} {% block title %} Customer Checkout {% endblock %}
{% load static %}
<!-- CSS for this page -->
{% block additional_css %}
    <link rel="stylesheet" href="{% static 'styles/checkout.css' %}?v=1"/>
{% endblock %}
{% block content %}

<!-- Rest of content -->
<!-- Outer layer for pop-ups etc -->
<div class="outer">
    <div class="generic-error-popup">
        <h4>Pardon Our Dust...</h4>
        <p class="generic-error-message"></p>
        <button class="back-button">Return to basket</button>
    </div>
    <div class="qty-remove-popup">
        <div class="popup-title">
            <p id="qty-title">Enter the total quantity for this product:</p>
        </div>
        <div class="img-and-name">
            <img src="" alt="Product Image">
            <p class="popup-product-text"></p>
        </div>
        <div class="qty-and-submit">
            <p id="qty-heading">New Quantity:</p>
            <input type="number" id="quantity-input" min="1" max="999">
            <p id="qty-error-message"></p>
            <button id="submit-qty-button">Submit</button>
        </div>
        <div class="popup-buttons">
            <button id="remove-button">Remove from basket</button>
            <button class="back-button">Return to basket</button>
        </div>
    </div>
    <div id="PLU-popup" class="PLU-popup">
        <div class="popup-title">
            <p id="PLU-title"></p>
        </div>
        <div id="PLU-main" class="PLU-main">
            <!-- Dynamically added PLU entries based on department -->
            <div id="PLU-item" class="PLU-item-template" style="display: none;">
                <button id="add-PLU-button" class="add-PLU-button">
                    <img src="" alt="PLU Image">
                    <p class="PLU-name"></p>
                    <div class="PLU-prices">
                        <p class="PLU-price"></p>
                    </div>
                </button>
            </div>
        </div>
        <div class="PLU-footer">
            <button class="back-button">Return to basket</button>
        </div>
    </div>
</div>

<!-- Checkout interface -->
<div class="checkout-container">
    <div class="product-container">
        <div class="product-container-header">
            <p id="item-count">0 Items</p>
            <p id="checkout-datetime"></p>
        </div>
        <div id="product-container-main" class="product-container-main">
            <!-- Dynamically added/'scanned' products -->
            <div id="basket-item" class="product-item-template" style="display: none;">
                <button id="edit-product-button" class="edit-product-button">
                    <img src="" alt="Product Image">
                    <div class="product-content">
                        <p class="product-name"></p>
                        <div class="product-info">
                            <p id="product-quantity" class="product-quantity"></p>
                            <p id="product-price" class="product-price">£</p>
                        </div>
                    </div>
                </button>
            </div>
        </div>
        <div class="product-container-footer">
            <p id="savings-total"> Savings: £0.00</p>
            <p id="basket-total"> Basket Total: £0.00</p>
        </div>
    </div>

    <div class="options-container">
        <div class="options-container-header">
            <input type="text" id="ean-input" placeholder="Search for a product">
            <button id="member-button">Membership</button>
        </div>
        <div class="options-container-main">
            <p id="other-items-title"> Other Items</p>
            <div class="other-item-box">
                <button class="other-item-button" id="fruit-button">
                    <img src="{% static 'images/fruit-stock-image.jpg' %}" alt="Fruit Image">
                    <p>Fruit</p>
                </button>
            </div>
            <div class="other-item-box">
                <button class="other-item-button" id="veg-button">
                    <img src="{% static 'images/veg-stock-image.jpg' %}" alt="Veg Image">
                    <p>Vegetables &amp; Salad</p>
                </button>
            </div>
            <div class="other-item-box">
                <button class="other-item-button" id="bakery-button">
                    <img src="{% static 'images/bakery-stock-image.jpg' %}" alt="Bakery Image">
                    <p>Bakery</p>
                </button>
            </div>
            <div class="other-item-box">
                <button class="other-item-button" id="misc-button">
                    <img src="{% static 'images/misc-stock-image.jpg' %}" alt="Misc Image">
                    <p>Miscellaneous</p>
                </button>
            </div>
        </div>
        <div class="options-container-footer">
            <button id="add-bag-button"><img src="{% static 'images/bag-icon.png' %}" alt="Bag Icon"> Add a bag </button>
            <button id="pay-button">Pay</button>
        </div>
    </div>
</div>
<script type="module" src="{% static 'js/checkout.js' %}"></script>
{% endblock %}