{% extends "base.html" %} {% block title %} Customer Checkout {% endblock %}
{% load static %}
<!-- CSS for this page -->
{% block additional_css %}
    <link rel="stylesheet" href="{% static 'styles/checkout.css' %}?v=1"/>
{% endblock %}
{% block content %}

<!-- Rest of content -->
<div class="checkout-container">
    <div class="product-container">
        <div class="product-container-header">
            <h4 id="item-count">{{ num_items }} Items</h4>
            <h4 id="checkout-datetime">{{ current_datetime }} Date</h4>
        </div>
        <div class="product-container-main">
            <p>Placeholder image + item</p>
        </div>
        <div class="product-container-footer">
            <h4 id="savings-total">Savings: {{ savings_total }}</h4>
            <h4 id="basket-total"> Basket Total: {{ basket_total }}</h4>
        </div>
    </div>

    <div class="options-container">
        <div class="options-container-header">
            <input type="text" id="ean-input" placeholder="Enter EAN">
            <button id="enter-menu-button" onclick="alert('Colleague Menu is unavailable right now.')"> Menu </button>
        </div>
        <div class="options-container-main">
            <h5 id="other-items-title"> Other Items</h5>
            <div class="other-item-box">
                <img src="fruit-stock-image.jpg" alt="Fruit Image">
                <p>Fruit</p>
            </div>
            <div class="other-item-box">
                <img src="veg-stock-image.jpg" alt="Veg Image">
                <p>Vegetables &amp; Salad</p>
            </div>
            <div class="other-item-box">
                <img src="bakery-stock-image.jpg" alt="Bakery Image">
                <p>Bakery</p>
            </div>
            <div class="other-item-box">
                <img src="misc-stock-image.jpg" alt="Misc Image">
                <p>Miscellaneous</p>
            </div>
        </div>
        <div class="options-container-footer">
            <button id="add-bag-button"><img src="{% static 'images/bag-icon.png' %}" alt="Bag Icon"> Add a bag </button>
            <button id="pay-button"> Pay</button>
        </div>
    </div>
</div>
<!-- <script type="module" src="js/customer_checkout.js"></script> -->
{% endblock %}
