{% extends "base.html" %} {% block title %} Inventory Management {% endblock %}
{% load static %}
<!-- CSS for this page -->
{% block additional_css %}
    <link rel="stylesheet" href="{% static 'styles/inventory.css' %}?v=1"/>
{% endblock %}
{% block content %}
<h1>Inventory Management</h1>
<div id="deliv-header">
    
</div>
<h5>View, sort, and filter products in the database. The below table details the information for a product, as well as the available quantity and amount sold today.<br>You can also update the quantity of a product if a delivery has arrived.</h5>
<p>!!!Table goes here!!!</p>
{% endblock %}