/* Navbar active page highlight */
.home-link {
    color: #fff;
}

.cc-link {
    color: #cc6d15;
}

/* Large or multiple area styles */
.checkout-container {
    display: flex;
    flex-direction: row; /* Split product and options area in half */
    border: 15px solid #434141;
    height: 80vh;
}

.pay-container {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    align-items: center; /* Split product and options area in half */
    border: 15px solid #434141;
    height: 80vh;
    padding: 0 10px 0;
}

.product-container, .options-container {
    flex: 1; /* Take equal space to each other */
    display: flex; /* It's own flexbox too */
    flex-direction: column;
    justify-content: space-between;
    padding: 5px;
    border: 1px solid #434141;
}

.options-container {
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: border-box;
    background-color: #fff;
}

.product-container > .product-container-header,
.product-container > .product-container-main,
.product-container > .product-container-footer,
.options-container > .options-container-header,
.options-container > .options-container-main,
.options-container > .options-container-footer {
    margin: 5px 0;
}

.product-container-header, .product-container-footer,
.options-container-header, .options-container-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
}

.product-container-header, .options-container-header {
    padding: 0 5px 10px;
    border-bottom-style: double;
    border-color: #5a5858;
}

.options-container-header {
    position: relative;
}

.product-container-main {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 10px;
    padding: 0 15px;
    gap: 20px;
    height: 100%;
    overflow-y: auto;
}

.options-container-main {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 10px;
    gap: 20px;
    height: 100%;
    overflow-y: auto;
}

.options-container-footer {
    padding: 10px 0 10px;
    border-top-style: double;
    border-color: #5a5858;
}

.product-container-footer {
    padding: 5px 0 10px;
    background: linear-gradient(to right, #ffee00 50%, #008080 50%);
}

/* For specific elements */
#item-count, #checkout-datetime {
    font-weight: bold;
    font-size: 18px;
}

.product-item-template {
    display: flex;
    flex-shrink: 0;
    flex-grow: 0;
    flex-direction: row;
    border: 3px solid #bab9b9;
    box-sizing: border-box;
    margin: 0;
    width: 100%;
    max-width: 100%;
    height: 150px;
}

.product-content {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: space-between;
    height: 100%;
    padding-left: 10px;
}

.product-item-template .product-name {
    flex: 1;
    word-wrap: break-word;
    text-align: left;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 5px;
}

.product-item-template .product-info {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0;
}

.product-item-template .product-quantity,
.product-item-template .product-price {
    font-weight: bold;
    font-size: 20px;
    margin: 0;
}

#product-price {
    font-size: 32px;
}

.product-item-template img {
    width: 25%;
    height: 120px;
    object-fit: contain;
    max-width: 100%;
    border-radius: 5px;
}

.edit-product-button {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    padding: 10px;
    cursor: pointer;
}

#savings-total, #basket-total {
    display: flex;
    flex: 1;
    align-items: center;
    padding-left: 10px;
    font-weight: bold;
    font-size: 20px;
}

#other-items-title {
    width: 100%;
    font-weight: bold;
    text-align: left;
    margin-bottom: -5px;
    padding-left: 15px;
    font-size: 18px;
}

.other-item-box {
    flex: 0 0 calc(50% - 20px); /* Un-growable (0), un-shrinkable (1), and % container width */
    max-width: 240px;
    height: 200px;
    background-color: transparent;
    box-sizing: border-box;
    margin: 0 15px 15px;
}

.other-item-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100%;
    padding: 10px;
    border: 3px solid #434141;
    background-color: #bab9b9;
    cursor: pointer;
}

.other-item-button p {
    margin: 10px 0 0;
    font-weight: bold;
    font-size: 18px;
}

.other-item-button img {
    width: 100%;
    height: 140px;
    object-fit: cover;
}

.other-item-button:hover {
    background-color: #008080;
    color: #fff;
}

#add-bag-button, #ean-input, #member-button {
    display: flex; /* Align icon and text */
    align-items: center;
    justify-content: center;
    gap: 5px; /* Space between bag icon and text */
    border: 3px solid #008080;
    color: #008080;
    background-color: #fff;
    border-radius: 10px;
    padding: 15px;
    width: 160px;
    font-weight: bold;
    font-size: 20px;
}

/* EAN input and dropdown menu */
#ean-input {
    width: 50%;
    color: #008080;
}

.dropdown-content {
    margin-left: 8px;
    margin-top: 4px;
    position: absolute;
    top: 100%;
    left: 0;
    width: 54%;
    background: white;
    color: #008080;
    border: 3px solid #008080;
    overflow-y: auto;
    max-height: 300px;
    z-index: 1000;
    display: none;
}

.dropdown-result {
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
}

.dropdown-result:hover {
    color: #fff;
    background-color: #008080;
    cursor: pointer;
}

#product-dropdown.active {
    display: block;
}

#add-bag-button, #member-button {
    cursor: pointer;
}

#add-bag-button:hover, #member-button:hover, 
#submit-qty-button:hover, .back-button:hover {
    background-color: #008080;
    color: #fff;
}

#add-bag-button img {
    width: 20px;
    height: 20px;
}

#pay-button {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    padding: 15px;
    width: 160px;
    font-weight: bold;
    font-size: 20px;
}

#pay-button.disabled {
    border: 3px solid #434141;
    color: #434141;
    background-color: #fff;
}

#pay-button.active {
    background-color: #fff;
    color: #008080;
    border: 3px solid #008080;
}

#pay-button.active:hover {
    background-color: #008080;
    color: #fff;
    cursor: pointer;
}

/* Payment screen elements */
.pay-screen-button {
    border: 3px solid #008080;
    color: #008080;
    background-color: #dacfbd;
    border-radius: 10px;
    padding: 10px;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
    width: 220px;
    height: 60px;
}

.pay-screen-button:hover {
    background-color: #008080;
    color: #fff;
}

.pay-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.pay-header p {
    font-size: 24px;
    font-weight: bold;
}

.pay-main {
    text-align: center;
    align-items: center;
    padding: 25px 0 0;
}

.pay-main p {
    font-size: 75px;
    font-weight: bold;
}

#pay-savings-total {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    width: 240px;
    padding: 15px 30px 15px;
    background-color: #ffee00;
    border-radius: 10px;
    margin-top: -80px;
}

.pay-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 30px;
}

.pay-footer p {
    font-size: 35px;
    font-weight: bold;
}

.payment-options {
    display: flex;
    gap: 100px;
}

#cash-button, #card-button {
    width: 180px;
    height: 180px;
    border-radius: 80px;
    font-size: 40px;
}

/* Alter quantity of selected product (Pop-up) */
.outer {
    position: fixed;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5); /* Darken rest of page */
    height: 100%;
    width: 100%;
    z-index: 2;
}

.generic-error-popup {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 45%;
    height: 35%;
    border-radius: 10px;
    border: 3px solid #434141;
    background-color: #fff;
    padding: 15px; 
}

.generic-error-popup h4 {
    font-weight: bold;
    font-size: 24px;
}

.generic-error-message {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}

.generic-error-popup button {
    width: 50%;
}

.qty-remove-popup {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 75%;
    height: 55%;
    border-radius: 10px;
    border: 3px solid #434141;
    background-color: #fff;
    padding: 15px;
}

#qty-title {
    flex: 1;
    text-align: center;
    font-weight: bold;
    font-size: 24px;
    border-bottom: 2px solid #434141;
}

.img-and-name {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
}

.qty-remove-popup img {
    flex: 0 0 30%;
    border: 2px solid #434141;
    width: 70%;
    height: 180px;
    object-fit: contain;
}

.popup-product-text {
    flex-grow: 1;
    text-align: center;
    align-self: flex-start;
    font-weight: bold;
    font-size: 20px;
    margin: 2px;
}

#qty-heading {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    margin: 2px;
}

.qty-and-submit {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
}

.popup-buttons {
    display: flex;
    justify-content: space-between;
}

#quantity-input {
    width: 120px;
    height: 40px;
    text-align: center;
    border: 2px solid #434141;
    background-color: #fff;
    font-weight: bold;
    font-size: 20px;
}

#qty-error-message, .generic-error-message {
    color: #ff0000;
    font-weight: bold;
}

#submit-qty-button, .back-button {
    border: 3px solid #008080;
    color: #008080;
    background-color: #fff;
    border-radius: 10px;
    padding: 10px;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
}

#remove-button, #void-button {
    border: 3px solid #ff0000;
    color: #ff0000;
    background-color: #fff;
    border-radius: 10px;
    padding: 10px;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
}

#void-button {
    background-color: #dacfbd;
}

#remove-button:hover, #void-button:hover {
    background-color: #ff0000;
    color: #fff;
}

/* Select items by department (popup) */
.PLU-popup {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 75%;
    height: 55%;
    border-radius: 10px;
    border: 3px solid #434141;
    background-color: #fff;
    padding: 25px;
}

.popup-title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 24px;
    padding: 10px 0;
}

#PLU-title {
    text-align: center;
}

/* Scrollable popup area populated with templates */
.PLU-main {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 15px;
    width: 100%;
    height: 80vh;
    padding: 10px;
    overflow-y: auto;
}

.PLU-item-template {
    flex: 0 0 calc(20% - 10px);
    max-height: 40%;
    margin: 0 15px 15px;
}

.add-PLU-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100%;
    padding: 10px;
    margin: 5px;
    border: 3px solid #434141;
    background-color: #fff;
    cursor: pointer;
}

.add-PLU-button:hover {
    background-color: #008080;
    color: #fff;
}

.add-PLU-button img {
    width: 100%;
    height: 60%;
    object-fit: contain;
}

.PLU-name {
    font-weight: bold;
}
.PLU-prices {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-weight: bold;
}

.PLU-footer {
    display: flex;
    justify-content: center;
    padding: 10px;
}